@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Poppins:wght@300&display=swap');

* {
  font-family: 'Almarai', sans-serif;

}

.slider-item {
  display: none;
}

#slider img {
  max-width: 100%;
  height: auto;
}

/* Add Tailwind classes for styling */
#slider.active .slider-item {
  display: block;
}